// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #feb632;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
// banner background = generic-b
$generic-black: #1d1f21;
$generic-gray: #2b2d2f;

