<div class="banner" style="background-image: linear-gradient(-225deg, rgba(255, 240, 0, 0.2) 0%, rgba(62, 54, 0, 0.3) 30%), url(<%= image_path 'BeBurger.jpg'%>); background-position: center;">
  <div class="banner-content">
    <h1>Be Burger</h1>
  </div>
</div>

<a href="#" class="scroll-down" address="true"></a>
<section class="ok">
