.btn-header{
  padding: 10px 25px;
  margin: 5px;
  border-radius:30px;
  background: transparent;
  font-family: "Raleway", "Helvetica", "sans-serif";
  font-weight: 500;
  line-height: 1.1;
  color: black !important;
  border-color: $yellow !important;
  border: solid;
  width: 190px !important;
  text-align: center;
}

.btn-header:hover {
  background-color: $yellow ;
  text-decoration: none;
}

.btn-reset{
  padding: 10px;
  border-radius:30px;
  background: transparent;
  font-family: "Raleway", "Helvetica", "sans-serif";
  font-weight: 500;
  line-height: 1.1;
  color: white !important;
  border-color: $yellow !important;
  border: solid;
  width: auto;
  text-align: center;
  margin: auto;
}

.btn-reset:active {
  background-color: $yellow !important;
}

.btn-reset:hover {
  background-color: $yellow ;
  text-decoration: none;
}

// btn for the basket footer allowing to access the basket summary
.btn-summary{
  background-color: $generic-black !important;
  color: $yellow !important;
  border: none;
  font-family: "Open Sans", "Helvetica", "sans-serif";
  font-size: 15px;
  height: 50px;
  padding-top: 14px;
  display: flex;
  justify-content: space-between;
}

.btn-back{
  font-size: 15px;
  opacity: 0.9;
  font-weight: lighter;
  color: #333333 !important;
  text-decoration: none !important;
  padding: 10px;
  background-color: rgba(245,245,245,0.95);
  box-shadow: 1px 1px 5px lightgrey;
  border-radius: 4px;
  margin-bottom: 20px;
}

// to reset the table
.btn-clear {
  font-size: 15px;
  opacity: 1;
  font-weight: lighter;
  color: $yellow !important;
  text-decoration: none !important;
  padding: 10px;
  background-color: $generic-black;
  box-shadow: 1px 1px 5px lightgrey;
  border-radius: 4px;
  margin-bottom: 20px;
}

// used notably in the order summary

.btn-confirm{
    opacity: 0.9;
    color: #fff !important;
    background-color: $yellow !important;
    box-shadow: 1px 1px 5px lightgrey;
    margin-top: 30px;
    margin-bottom: 25px;
    border-radius: 40px;
    padding: 13px
}

.btn-status-in-process {
  font-size: 15px;
  opacity: 1;
  color: white !important;
  text-decoration: none !important;
  margin-right: -16px;
  padding: 14px 10px 14px 10px;
  background-color: #ef4d51;
  box-shadow: 1px 1px 5px lightgrey;
  border-radius: 0px;
  cursor: default !important;
}

.btn-status-delivered {
  font-size: 15px;
  opacity: 1;
  color: white !important;
  text-decoration: none !important;
  margin-right: -16px;
  padding: 14px 13px 14px 13px;
  background-color: $yellow;
  box-shadow: 1px 1px 5px lightgrey;
  border-radius: 0px;
  cursor: default !important;
}

.btn-status-paid {
  font-size: 15px;
  opacity: 1;
  color: white !important;
  text-decoration: none !important;
  margin-right: -16px;
  padding: 14px 30px 14px 30px;
  background-color: #40A798;
  box-shadow: 1px 1px 5px lightgrey;
  border-radius: 0px;
  cursor: default !important;
}

.btn-status-paid-text{
  font-size: 15px;
  opacity: 1;
  color: white !important;
  text-decoration: none !important;
  margin-right: -16px;
  padding: 3px 3px 3px 3px;
  margin-right: 2px;
  background-color: #40A798;
  box-shadow: 1px 1px 5px lightgrey;
  border-radius: 0px;
  cursor: default !important;
}
