
#container {
  height: 500px;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  color: $generic-black;

}

#container h3 {
  margin: 0px;
  text-align: center;
  margin: -6px;

}

#orderstat {
  display: flex;
  width: 30%;
  height: 90%;
  margin: 5px;
  flex-direction: column;
  border-radius: 15px;
  background: #969C98;;
  color: $yellow;


}

#orderstat h5 {
  margin: -18px;
  font-size: 17px;
  text-align: center;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  background: $generic-black;
  padding: 15px;
  margin-bottom: 6px;
}

#linetop {
  width: 100%;
  height: 10%;
  margin: 15px;
  color: $yellow;
  background: $generic-black;
  border-radius: 30px;

}

#linebtm {
  display: flex;
  width: 100%;
  height: 15%;
  margin: 15px;
  margin-bottom: 0px;
  background: $generic-black;
  justify-content: space-around;
  border-radius: 30px;
  margin-top: 30px;

}

.panel.panel-default {
  margin-left: 10px;
  margin-right: 10px;


}

.panel-heading {

  text-align: center;
  text-decoration: none;
  padding: 0px;

}



.panel-heading .dash {
  text-decoration: none;
  font-size: auto;
  color: $generic-black !important;
  margin-left: 7px;
}

.panel-group {
  margin-bottom: 6px;
  border-radius: 10px;
}

.panel-title {
  font-size: 18px;
}

.glyphicon.glyphicon-arrow-right {
  position: relative;
  right: -50px;
  padding: 0px;
  margin-left: 35px;
}

.list-group-item {
  padding: 3px 5px;
}

.dashboard-order {
  font-size: 18px;
  display: flex;
  justify-content: space-between;


}

.words-dashboard {
  margin-right: 45px;
}

.fa.fa-arrow-right {
font-size: 13px !important;

}

// .back {
//   border: solid;
//   border-color: $yellow;
//   border-width: 5px;
// }






