html, body {
  height: 100%;
}


#container {
  height: 90%;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  color: $generic-black;
  width: 65%;
  position:absolute;
  left:20%;
}

#container h3 {
  margin: 0px;
  text-align: center;
  margin: -6px;

}

.orderstat {
  display: flex;
  width: 41%;
  height: 90%;
  margin: 5px;
  flex-direction: column;
  border-radius: 5px;
  background: white;
  color: $yellow;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 20px;


}

.orderstat h5 {
  margin: -18px;
  font-size: 17px;
  text-align: center;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  background: $generic-black;
  padding: 15px;
  margin-bottom: 6px;
}

#linetop {
  width: 100%;
  height: 9%;
  margin: 15px;
  color: $yellow;
  background: $generic-black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

}


#summary {
  width: 25%;
}

#linebtm {
  display: flex;
  width: 100%;
  height: 10%;
  margin: 15px;
  margin-bottom: 0px;
  background: $generic-black;
  justify-content: space-around;
  border-radius: 5px;
  text-align: center;
  overflow-y: hidden;
  overflow-x: scroll;

}

.panel.panel-default {
  margin-left: 10px;
  margin-right: 10px;


}

.panel-heading {

  text-align: center;
  text-decoration: none;
  padding: 0px;

}



.panel-heading .dash {
  text-decoration: none;
  font-size: auto;
  color: $yellow;
  margin-left: 7px;
  font-weight: bold;
  color: $generic-black;
  min-width: 150px;
  display: flex;
  font-size: 14px;
  margin-top: 6px;
}

.panel-group {
  margin-bottom: 6px;
  border-radius: 10px;
}

.panel-title {
  font-size: 18px;
}

.glyphicon.glyphicon-arrow-right {
  position: relative;
  right: -50px;
  padding: 0px;
  margin-left: 35px;
}

.list-group-item {
  padding: 3px 5px;
  color: black;
  font-size: 15px;
}

.dashboard-order {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 5px;
  padding-bottom: 5px;


}


.words-dashboard {
  color: $generic-black !important;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 5px;
}

.words-list {
  color: $generic-black !important;
}



.fa.fa-arrow-right {
font-size: 13px !important;
margin-right: 6px;
background-color: $yellow;
color: white !important;

}



@media(min-width: 1300px) {
  #linetop h3 {
    font-size: 40px;
  }

  .orderstat h5 {
    font-size: 28px;
  }

  .btn-reset {
    font-size: 28px;
  }
}

.btn-dashboard{
  padding: 10px;
  border-radius: 5px;
  background: transparent;
  font-family: "Raleway", "Helvetica", "sans-serif";
  font-weight: 500;
  line-height: 1.1;
  color: white !important;
  border-color: $yellow !important;
  border: solid;
  width: auto;
  text-align: center;
  margin: auto;
}

.btn-dashboard:hover {
  background-color: $yellow ;
  text-decoration: none;
  color:  $generic-black !important;
  font-weight: bold;
}

.btn-reset:active {
  background-color: $yellow !important;
}





