.item-box {
  background: #FFFFFF;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.item {
  background-color: $generic-gray;
  color: #FDB543;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 15px;
  padding-right: 15px;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

.item li {
  display: inline-block;
}

.item:last-child {
  border-bottom: 1px solid grey;
}

.item:hover {
  background: $generic-black;
  color: $yellow;
}

.item-description {
  flex: 1 0 auto;
  padding: 0 10px;
}

.item-description h3 {
  margin-top: 0;
}
.item-description p {
  margin-bottom: 0;
}

.item-image{
  max-width: 12%;
  height: auto;

}

.item-upvote {
  padding: 10px;
  flex: 0 0 3%;
  text-align: center;
}

.item-list {
  margin: 0px;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;

}

.item-cancel {
  border-right: 1px solid grey;
}

.item-reduce {
  border-right: 1px solid grey;
}

.item-links {
  display: flex;
  align-items: center;
}
.item-links a {
  color: #adaeaa;
  opacity: 0.9;
  text-decoration: none;
  font-size: 18px;
  padding: 0px 10px;
}
.item-links a:hover {
  color: $yellow;
  opacity: 1;
}
