.item-box {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.item {
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 11px 11px;
  border-bottom: 1px solid grey;
}

.item h3 {
  font-size: 24px;
}

.item p {
  font-size: 16px;
  opacity: 0.8;
  font-weight: lighter;
}

#price-menu {
  opacity: 0.9;
  font-weight: bolder;
}

.item li {
  display: inline-block;
}

.item:last-child {
  border-bottom: 1px solid grey;
}

.item:first-child {
  border-top: 1px solid grey;
}
.item:hover {
  background: $light-gray;
}

.item-description {
  flex: 1 0 auto;
  padding: 0 10px;
}

.item-description h3 {
  margin-top: 0;
}
.item-description p {
  margin-bottom: 0;
}

.item-image{
  max-width: 12%;
  height: auto;
}

.item-upvote {
  padding: 10px;
  flex: 0 0 3%;
  text-align: center;
}

.item-list {
  margin: 0px;
  border: 1px solid grey;
}

.item-cancel {
  border-right: 1px solid grey;
}

.item-reduce {
}

.item-links {
  display: flex;
  align-items: center;
}
.item-links a {
  color: $yellow;
  opacity: 0.8;
  text-decoration: none;
  font-size: 18px;
  padding: 0px 10px;
}
.item-links a:hover {
  color: $yellow;
  opacity: 1;
}




// My basket

.basket {
  border: 3px solid $yellow;
  margin: 5px;
}

.basket h2 {
  font-size: 30px;
  letter-spacing: 4px;
}

.basket-title:after {
  content: "•••••••";
  color: $yellow;
  font-size: 30px;
  letter-spacing: 10px;
  display: block;
}


.item-order p {
  text-align: left;
  font-size: 15px;
  opacity: 0.9;
  font-weight: lighter;
}

// mobile
@media(max-width: 500px) {
  .item-line {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    align-items: center;
    flex-wrap: nowrap;
  }
  .item-name {
    max-width: 150px;
  }
  .button-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 150px;
  }
}

// large screens
@media(min-width: 500px) {
  .item-line {
    display: flex;
    justify-content: space-around;
  }
  .item-name {
    min-width: 250px;
    text-align: left;
    font-size: 15px;
    opacity: 0.9;
    font-weight: lighter;
  }
  .button-price {
    display: flex;
    justify-content: space-between;
  }
}

.price h5 {
  font-weight: bolder;
  opacity: 0.9;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.price p {
  font-weight: bolder;
  opacity: 0.9;
  margin-top: -5px;
  font-size: 15px;
}
