/* Main navbar */
.navbar-wagon {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: $generic-black;
  transition: all 0.3s ease;
  height: 10%;
  padding: 0px 30px;
  align-items: center;
  color: $yellow;
  display: flex;

}

/* Logo */
.navbar-wagon-brand img {
  height: 50px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
        transition:         transform .8s ease-in-out;
  color: $yellow;
}



