
.nav-side-right-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 17px;
  font-weight: 200;
  background-color: #2e353d;
  position: right;
  width: 15%;
  height: 90%;
  color: #e1ffff;
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
}
.nav-side-right-menu .brand {
  background-color: $generic-black;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 25px;
  border-top: 2px solid $yellow;
  border-bottom: 2px solid $yellow;
  top: 0;
}

.green-sideb {
  text-align:center;
  background-color: #2ECC40 !important;
  font-size: 40px;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.orange-sideb {
  text-align:center;
  background-color: $yellow;
  font-size: 40px;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;

}

.red-sideb {
  text-align:center;
  background-color: #FF4136 !important;
  font-size: 40px;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
}


